<ul>
  <li>What to eat now?</li>
  <li>What to shop now?</li>
  <li>meal plan</li>
  <li>I ate something else</li>
  <li>user profile</li>
</ul>

<%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
